@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

:root{
   --background-color: #e0e7ff;
   --main-color:#6366f1;
   --mainbg-color:#eef2ff;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
    font-size: 25px;
    background-color: var(--background-color);
}
.container{
    text-align: center;
}
.date{
    display: flex;
    margin: auto;
    padding: 0.4rem;
    margin-top: 1rem;
    width: 150px;
    border:2px solid var(--main-color) ;
    border-radius: 20px; 
    background-color: var(--mainbg-color);
    
}
.click{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 130px;
    font-size: large;
    border:2px solid var(--main-color) ;
    background-color: var(--mainbg-color);
    border-radius: 20px;    
}
.lable{
    font-size: larger;
    font-weight: bold;
}
.non-bullets{
    list-style: none;
    display: inline;
    padding:  2rem;
    text-decoration: none;
    font-size: 30px;
}
.foot{
text-align: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin-bottom: 34px;
}
.title{
    text-align: center;
    font-size: 20px;
}
ul{
    text-align: center;
    width: 100%;
    /* margin: ; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}
.link{
    text-decoration: none;
    
}